:root {
    --eerie-black: #161716ff;
    --smoky-black: #191713ff;
    --cal-poly-green: #2B4D29ff;
    --fern-green: #407E3Dff;
    --pigment-green: #43A53Eff;
    --feldgrau: #4c5b5cff;
    --timberwolf: #d3d5d4ff;
    --dark-purple: #1c0b19ff;
    --old-rose: #b47978ff;
    --old-rose-darker: #aa767cff;
}

* {
    color: var(--pigment-green);
}


body {
    background-color: var(--feldgrau);
    margin: 0 0 0 0;
}

main {
    background-color: var(--eerie-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
}

header {
    width: 100%;
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

.portfolio-title {
    font-size: calc(20px + 0.30625vw);
}

nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 100%;
}

.nav-btn {
    font-size: calc(15px + 0.15vw);
    height: 100%;
    width: clamp(20%, 33%, 50%);
    background-color: var(--feldgrau) ;
    border-radius: 10px 10px 0 0 ;
    border: none;
    border-bottom: 1px solid var(--feldgrau);
    border-right: 1px solid var(--eerie-black);
    border-left: 1px solid var(--eerie-black);
}

.nav-select {
    padding: 0;
    background-color: var(--eerie-black);
    border-color: var(--eerie-black);
    border-bottom: none;
    font-weight: bolder;
}
