:root {
    --ivory: #FFFFF0;
    --rich-black: #001219ff;
    --midnight-green: #005f73ff;
    --dark-cyan: #0a9396ff;
    --tiffany-blue: #94d2bdff;
    --vanilla: #e9d8a6ff;
    --gamboge: #ee9b00ff;
    --alloy-orange: #ca6702ff;
    --rust: #bb3e03ff;
    --rufous: #ae2012ff;
    --auburn: #9b2226ff;
}

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    color: var(--ivory);
}

html {
    height: 100vh;
    width: 100vw;
    background-color: var(--rich-black);
}

body {
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-position:left;
    background-size: cover;
    background-image: url("../img/portfoliobgdark16x9.svg");
}

nav {
    display: flex;
    gap: 5px;
}

 button {
    border: 1px solid var(--tiffany-blue);
    background-color: var(--rich-black);
    border-radius: 5px;

}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    padding-left: 5px;
    background-color: var(--rich-black);
    border-top: 1px solid var(--ivory);
}

main {
    max-height: 100%;
    width: 100%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-evenly;
}

a {
    text-align: center;
    display: flex;
    justify-content: center;
}

img {
    height: 20px;
    width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    width: clamp(175px, 45%, 450px);
}

textarea, input {
    display: block;
    height: fit-content;
    width: 100%;
    color: black;
}

.card{
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: left;
    gap: 5px;
    background-color:var(--midnight-green);
    border: 1px solid var(--dark-cyan);
}

.card > * {
    padding: 5px 10px;
    text-align: center;
}

.card > h3 {
    width: 100%;
    height: 20px;
    border-radius: 10px 10px 0 0 ;
    padding: 0;
    background-color: var(--rich-black);
}

.portfolio-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display-list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.display-list > li {
    margin-top: auto;
    margin-bottom: auto;
}

#contact-form {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: clamp(200px, 50%, 600%);
}

/*
TODO: 
- Add more svgs to transition between for each size
- Add dynamic sizing
- background position changes left center right depending on nav
- Get sizing right so there is no left right up down scroll
- add links
*/