:root {
  --eerie-black: #191d24;
  --anti-flash-white: #ebebeb;
  --charcoal: #3b4454;
  --desktop-heading-font: 3.5rem;
  --desktop-subheading-font: 2.2rem;
  --desktop-body-font: 1.6rem;
  --mobile-heading-font: 2.4rem;
  --mobile-subheading-font: 1.7rem;
  --mobile-body-font: 1.4rem;
}

h1 {
  @media (min-width: 500px) {
    font-size: var(--desktop-heading-font);
  }
  @media (max-width: 500px) {
    font-size: var(--mobile-heading-font);
  }
}

h2 {
  @media (min-width: 500px) {
    font-size: var(--desktop-subheading-font);
  }
  @media (max-width: 500px) {
    font-size: var(--mobile-subheading-font);
  }
}

p {
  @media (min-width: 500px) {
    font-size: var(--desktop-body-font);
  }
  @media (max-width: 500px) {
    font-size: var(--mobile-body-font);
  }
  margin-left: 8%;
  margin-right: 8%;
}

html {
  width: 100%;
  color: var(--anti-flash-white);
  background: var(--eerie-black);
  background-image: radial-gradient(
    var(--anti-flash-white),
    1px,
    transparent 0
  );
  background-size: 40px 40px;
  background-position: -20px -20px;
  scroll-behavior: smooth;
}

body {
  @media (min-width: 700px) {
    margin-left: 15%;
    margin-right: 15%;
  }
  @media (max-width: 700px) {
    margin-left: 5%;
    margin-right: 5%;
  }
  background-color: var(--eerie-black);
}

h1,
h2 {
  text-align: center;
}

header,
nav,
#content {
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
#content {
  flex-direction: column;
}

nav {
  gap: 8px;
}

a {
  text-decoration: none;
  color: var(--anti-flash-white);
  border-bottom: 1px solid var(--anti-flash-white);
  @media (min-width: 500px) {
    font-size: var(--desktop-body-font);
  }
  @media (max-width: 500px) {
    font-size: var(--mobile-body-font);
  }
}

a:hover {
  background-color: var(--anti-flash-white);
  color: var(--eerie-black);
}

.emoji-img {
  border-radius: 64px;
  padding: 16px;
  font-size: 5rem;
  background-color: var(--charcoal);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  padding: 16px;
  gap: 8px;
}

.svg-img {
  width: 50px;
  height: 50px;
}

.card {
  padding: 20px;
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}

.card-highlight {
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  box-shadow: #b827fc 0 0 16px;

  animation: glow 3s alternate infinite;
}

@keyframes glow {
  0% {
    border-image: linear-gradient(
      to bottom right,
      #fd1892 0%,
      #fec837 25%,
      #b8fd33 50%,
      #2c90fc 75%,
      #b827fc 100%
    );
    border-image-slice: 1;
    box-shadow: #b827fc 0 0 10px;
  }
  25% {
    border-image: linear-gradient(
      to bottom right,
      #2c90fc 0%,
      #fd1892 25%,
      #fec837 50%,
      #b8fd33 75%,
      #b827fc 100%
    );
    border-image-slice: 1;
    box-shadow: #2c90fc 0 0 10px;
  }
  50% {
    border-image: linear-gradient(
      to bottom right,
      #b827fc 0%,
      #2c90fc 25%,
      #fd1892 50%,
      #fec837 75%,
      #b8fd33 100%
    );
    border-image-slice: 1;
    box-shadow: #b8fd33 0 0 10px;
  }
  75% {
    border-image: linear-gradient(
      to bottom right,
      #b8fd33 0%,
      #b827fc 25%,
      #2c90fc 50%,
      #fd1892 75%,
      #fec837 100%
    );
    border-image-slice: 1;
    box-shadow: #fec837 0 0 10px;
  }
  100% {
    border-image: linear-gradient(
      to bottom right,
      #fec837 0%,
      #b8fd33 25%,
      #b827fc 50%,
      #2c90fc 75%,
      #fd1892 100%
    );
    border-image-slice: 1;
    box-shadow: #fd1892 0 0 10px;
  }
}
