:root {
    --caribbean-current: #006d77ff;
    --tiffany-blue: #83c5beff;
    --alice-blue: #edf6f9ff;
    --pale-dogwood: #ffddd2ff;
    --atomic-tangerine: #e29578ff;
}

html, body, main {
    margin: 0;
    padding: 0;
    font-family: "Barlow Condensed", sans-serif;
}

h1, h2, h3 {
    font-family: "Kanit", sans-serif;
}

body {
    display: flex;
    @media (max-width: 800px){
        flex-direction: column;
    }
}

main {
    text-align: center;
    background-color: var(--pale-dogwood);
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: start;
    text-align: start;
    width: 50%;
    
}

label, label > * {
    font-size: large;
    width: 100%;
}

label > * {
    min-height: 25px;
    background-color: var(--alice-blue);
    border: 1px solid var(--caribbean-current);
}

form > button { 
    align-self: center;
    height: 30px;
    width: 50%;
    @media(max-width: 800px){
        width: 100%;
    }
    font-size: large;
    color: var(--alice-blue);
    background-color: var(--caribbean-current);
    border: 3px solid var(--alice-blue);
}

nav > a{
    text-decoration: none;
    text-align: end;
    width: 100px;
    @media (max-width: 800px) {
        width: 1fr;
    }

    color: black;
    background-color: var(--tiffany-blue);
    border-radius: 5px;
    padding: 5px;
}

nav > a:hover {
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
}

h2, a {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 > a {
    text-decoration: none;
    color: black;
    background-color: var(--alice-blue);
    border-radius: 5px;
}

h3 > a:hover {
    transform: scale(1.03);
    transition: transform .5 ease-in;
}

p {
    font-size: x-large;
}

.intro-section > p {
    width: 50%;
    @media(max-width: 800px){
        width: 75%;
    }
}

.card {
    width: 50%;
    
    @media(max-width: 800px){
        width: 75%;
    }

    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.menu {
    background-color: var(--caribbean-current);
    
    @media (min-width: 800px){
        position: sticky;
        top: 0;
        height: 100vh;
    }
}

.menu , nav, .social-links, .intro-section, .about-section, .project-section, .contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-links { 
    @media (max-width: 800px) {
        flex-direction: row;
    }
    margin-top: auto;
    width: 100%;
    gap: 10px;
    background-color: var(--caribbean-current);
}

nav {
    @media (max-width: 800px) {
        flex-direction: row;
    }
}

.social-links > a > img{
    height: 50px;
    width: auto;
}

.wave {
    display: inline-block;
    animation: wave 1s infinite;    
}

.skills {
    display: flex;

    @media (max-width: 800px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }
}

.skills > .card {
    border: none;
}

.svg-img {
    height: 25px;
    width: 25px;
}

.svg-skill-img {
    height: 50px;
    width: 50px;
}

nav, .about-section, .project-section, .contact-section {
    gap: 5px;
    padding: 10px;
}

.about-section {
    background-color: var(--caribbean-current);
    color: var(--alice-blue);
}

.about-section > .card {
    border-color: var(--alice-blue);
}

.project-section {
    background-color: var(--atomic-tangerine);
}

.contact-section {
    background-color: var(--tiffany-blue);
}

#headshot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 10px;
}

@keyframes wave {
    0% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(20deg);}
}
